
html {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #f3f4f6;
  background-color: #f3f4f6 !important;
  margin: 0 auto;
  font-family: Roboto, 'sans-serif';
  /* overflow: visible;
  overflow-y: scroll;
  overflow-x: hidden !important; */
  padding-top: 3px;
  height: 100%;
  min-height: 100%;
  padding: 100px 0 0;
  width: 100%;
}

body .container {
  background: white;
  /* height: 100%; */
  margin: 0 auto;
  min-width: 75vw;
  /* padding-top: 120px !important; */
  width: 75vw;
  padding: 0 100px 100px;
}
body .page-desc {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 45vw;
}
body .row {
  display: block;
  margin: 0 auto;
}

body .col {
  display: inline-block;
  width: auto;
  height: auto;
  min-width: 20vw;
  padding: 25px 15px;
  /* margin: 25px 15px; */
}

body .container .main {
  display: block;
  margin: 0 auto;
  min-width: 80%;
  width: 80%;
  z-index: 1;
  padding: 50px 0 150px;
}
body .main.header-sec {
  padding: 10vw;
  height: 45vh;
  text-align: center;
}
body .sec-dark * {
  color: white;
}
body .sec-light * {
  color: black;
}
body .header-sec .container {
  margin-top: 12.5vh;
}
body .header-sec .container {
  background: transparent;
}

.affix {
  top: 0;
  width: 100%;
  /* z-index: 9999 !important; */
}

.navbar {
  margin-bottom: 0px;
}

.affix~.container-fluid {
  position: relative;
  top: 50px;
}
.container {
  margin: 0 auto;
}

body a {
  color: #0e68a8;
}
body a:hover {
  text-decoration: none;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 7.5rem;
  letter-spacing: -5px;
  opacity: 0.6;
  color: white;
  text-transform: uppercase;
  padding-top: 20vh;
  position: relative;
  z-index: 2;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: bolder;
  margin: 0;
  letter-spacing: 2px;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  font-weight: bolder;
  margin: 0;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.header-sec h2 {
  /* color: white; */
  font-size: 5em;
  vertical-align: middle;
}
body a {
  text-decoration: none !important;
  font-weight: bold !important;
}

body button a,
body button {
  background: #2c938f;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px !important;
  letter-spacing: 1px;
  padding: 10px 15px !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  min-width: 150px;
  z-index: 25;
  height: auto;
}

body button a:hover,
body button:hover {
  background: #c6832f;
  color: white;
}


/* Header */
body header {}
body #header-wrapper {
  position: fixed;
  display: block;
  top: 0;
  transition: 0.4s;
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(75, 89, 109, 0.1);
  width: 75vw;
  z-index: 50;
}

body #header-wrapper .headerLogo {
  float: left;
  text-align: left;
}

/* Logo */
body #header-wrapper .header {
  /* padding-left: 12.5%;
 padding-right: 12.5%; */
  display: block;
  width: 80%;
}

body #header-wrapper .header tbody,
body #header-wrapper .header tr,
body #header-wrapper .header #header_title {
  display: block;
  text-align: right;
}

body #header-wrapper .headerLogo {
  display: inline-block;
  position: relative;
  z-index: 99;
  top: 0px;
  width: 100px;
}

body #header-wrapper a img#mobilelogo {
  display: none;
}

body #header-wrapper #desktoplogo {
  position: relative;
  transition: 0.2s;
  width: 100%;
}

body #header-wrapper .businessLogin {
  position: absolute;
  top: 12px;
  right: 1vw;
}

body #header-wrapper .businessLogin p {
  margin: 0;
  font-family: Raleway, 'sans-serif';
  font-size: 12px;
}

body #header-wrapper .businessLogin a {
  color: #347c6b;
  transition: 0.3s;
}

body #header-wrapper> :nth-child(n+3) {
  font-size: 12px;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #2c938f;
  }
}

/* Footer */
#footer p,
#footer h4 {
  color: white;
}
#footer .footer {
  color: white;
  padding: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
  background: linear-gradient(-45deg, #18916a, #0e68a8, #1593a0, #18916a, #0e68a8, #1593a0);
  background-color: linear-gradient(-45deg, #18916a, #0e68a8, #1593a0, #18916a, #0e68a8, #1593a0);
  background-size: 800% 800%;
  -webkit-animation: LennarBlueGradient 45s ease infinite;
  -moz-animation: LennarBlueGradient 45s ease infinite;
  animation: LennarBlueGradient 45s ease infinite;
  transition: 1s;
  z-index: 2;
}
@-webkit-keyframes LennarBlueGradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@-moz-keyframes LennarBlueGradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@keyframes LennarBlueGradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


/* Footer */
/* body .order-changer .bottom-row, */
body .footer {
  display: inline !important;
  opacity: 1 !important;
  /* CVY: idk why it's doing this, during the test, so remove after test */
}

/* FAQ */
/* Floating Left */
/* Popover Help */
/* body .order-changer .bottom-row #popoverTip, */
body .footer #popoverTip {
  position: fixed;
  right: -225px;
  bottom: 25vh;
}

/* body .order-changer .bottom-row #popoverTip .helpButton, */
body .footer #popoverTip .helpButton {
  bottom: 0px;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* body .order-changer .bottom-row img#helpCharacter, */
body .footer img#helpCharacter {
  position: fixed;
  bottom: 420px;
  right: 0;
  height: 125px;
  pointer-events: none;
}

/* body .order-changer .bottom-row #popoverTip .helpButton #tipMobile, */
body .footer #popoverTip .helpButton #tipMobile {
  display: none;
}

/* Help Button */
/* body .order-changer .bottom-row #popoverTip .helpButton h5 , */
body .footer #popoverTip .helpButton h5 {}

/* body .order-changer .bottom-row #popoverTip .helpButton a[onclick="hideButton()"]#tipButton:hove, */
body .footer #popoverTip .helpButton a[onclick="hideButton()"]#tipButton:hover,
/* body .order-changer .bottom-row #popoverTip .helpButton a[onclick="showButton()"]#tipButto, */
body .footer #popoverTip .helpButton a[onclick="showButton()"]#tipButton,
/* body .order-changer .bottom-row #popoverTip .helpButton a#tipButton, */
body .footer #popoverTip .helpButton a#tipButton {
  background: grey;
  border: 1px solid grey;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  height: 20px;
  letter-spacing: 1px;
  padding: 10px 15px;
  position: absolute;
  right: -32px;
  text-transform: uppercase;
  top: 32.5%;
  transition: 0.2s;
  transform: rotate(-90deg);
  width: 75px;
}

/* body .order-changer .bottom-row #popoverTip .helpButton a[onclick="hideButton()"]#tipButto, */
body .footer #popoverTip .helpButton a[onclick="hideButton()"]#tipButton,
/* body .order-changer .bottom-row #popoverTip .helpButton a#tipButton:hover, */
body .footer #popoverTip .helpButton a#tipButton:hover {
  background: rgba(50, 50, 50, 1);
  transition: 0.5s;
}

/* Body of the Tip */
/* body .order-changer .bottom-row #popoverTip .top-hint, */
body .footer #popoverTip .top-hint {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* position: relative; */
  height: auto;
  width: 200px;
  z-index: 2;
}

/* body .order-changer .bottom-row #popoverTip .top-hint h5, */
body .footer #popoverTip .top-hint h5 {
  display: inline-block;
  font-family: Roboto, 'sans-serif';
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}

/* body .order-changer .bottom-row #popoverTip .top-hint h5 a, */
body .footer #popoverTip .top-hint h5 a {
  border-bottom: 2px solid transparent;
  color: black;
  text-decoration: none;
}

/* body .order-changer .bottom-row #popoverTip .top-hint h5 a:hover, */
body .footer #popoverTip .top-hint h5 a:hover {
  color: #e1a13b;
  transition: 0.5s;
}

/* body .order-changer .bottom-row #popoverTip .top-hint p, */
body .footer #popoverTip .top-hint p {
  margin-bottom: 0;
  color: black;
  font-style: italic;
  font-size: 11px;
  padding: 5px 0 0 5px;
  opacity: 0.9;
}

/* body .order-changer .bottom-row, */
body .footer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 2;
}

/* body .order-changer .bottom-row .middle-row , */
body .footer .middle-row {}

/* body .order-changer .bottom-row a , */
body .footer a {}

/* body .order-changer .bottom-row a:hover, */
body .footer a:hover {
  text-decoration: none;
}

/* body .order-changer .bottom-row .middle-row a span, */
body .footer .middle-row a span {
  background: #53565a;
  bottom: 10%;
  color: white;
  float: right;
  font-weight: bold;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  transition: 0.5s;
  width: auto;
  z-index: 10;
}

/* body .order-changer .bottom-row .middle-row a span:hover, */
body .footer .middle-row a span:hover {
  background: #3a3a3a;
  transition: 0.2s;
}

/* body .order-changer .bottom-row .bottom-row.left, */
body .footer .bottom-row.left {
  clear: both;
}

/* bo.order-changer .bottom-rowter #back_to_top, ,
/* body .footer #back_to_top, */
/* body .order-changer .bottom-row #back_to_top :nth-child(n), */
body .footer #back_to_top :nth-child(n) {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

/* body .order-changer .bottom-row #back_to_top a i, */
body .footer #back_to_top a i {
  padding: 5px 6px;
  color: #53565a;
  font-size: 16px;
  font-weight: bold;
  transition: 1s;
}

/* body .order-changer .bottom-row #back_to_top a i:hover, */
body .footer #back_to_top a i:hover {
  color: black;
  transition: 0.5s;
}

/* body .order-changer .bottom-row #bottom_text, */
body .footer #bottom_text {
  font-family: Roboto, 'sans-serif';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 25px 0;
  text-transform: uppercase;
  text-align: center !important;
}

/* body .order-changer .bottom-row .backtotop.unscrolled, */
body .footer .backtotop.unscrolled {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

/* body .order-changer .bottom-row .backtotop.scrolled, */
body .footer .backtotop.scrolled {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}

/* body .order-changer .bottom-row .backtotop, */
body .footer .backtotop {
  position: fixed;
  bottom: 15vh;
  right: 0;
  z-index: 2;
}

/* body .order-changer .bottom-row .backtotop a , */
body .footer .backtotop a {
  text-decoration: none;
}

/* body .order-changer .bottom-row .backtotop a i, */
body .footer .backtotop a i {
  padding: 5px 10px;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.4);
  color: black;
  font-size: 30px;
  opacity: 0.5;
  transition: 0.2s;
}

/* body .order-changer .bottom-row .backtotop a i:hover, */
body .footer .backtotop a i:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
}

body #wb-Extra {
  color: #2c938f;
}


/* Section Footer */
/* Popover Help */
/* body .order-changer .bottom-row #popoverTip, */
body .footer #popoverTip {
  position: fixed;
  right: -225px;
  bottom: 25vh;
}

/* body .order-changer .bottom-row #popoverTip .helpButton, */
body .footer #popoverTip .helpButton {
  bottom: 0px;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* body .order-changer .bottom-row img#helpCharacter, */
body .footer img#helpCharacter {
  position: fixed;
  bottom: 420px;
  right: 0;
  height: 125px;
  pointer-events: none;
}

/* body .order-changer .bottom-row #popoverTip .helpButton #tipMobile, */
body .footer #popoverTip .helpButton #tipMobile {
  display: none;
}

/* Help Button */
/* body .order-changer .bottom-row #popoverTip .helpButton h5 , */
body .footer #popoverTip .helpButton h5 {}

/* body .order-changer .bottom-row #popoverTip .helpButton a[onclick="hideButton()"]#tipButton:hove, */
body .footer #popoverTip .helpButton a[onclick="hideButton()"]#tipButton:hover,
/* body .order-changer .bottom-row #popoverTip .helpButton a[onclick="showButton()"]#tipButto, */
body .footer #popoverTip .helpButton a[onclick="showButton()"]#tipButton,
/* body .order-changer .bottom-row #popoverTip .helpButton a#tipButton, */
body .footer #popoverTip .helpButton a#tipButton {
  background: grey;
  border: 1px solid grey;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  height: 20px;
  letter-spacing: 1px;
  padding: 10px 15px;
  position: absolute;
  right: -32px;
  text-transform: uppercase;
  top: 32.5%;
  transition: 0.2s;
  transform: rotate(-90deg);
  width: 75px;
}

/* body .order-changer .bottom-row #popoverTip .helpButton a[onclick="hideButton()"]#tipButto, */
body .footer #popoverTip .helpButton a[onclick="hideButton()"]#tipButton,
/* body .order-changer .bottom-row #popoverTip .helpButton a#tipButton:hover, */
body .footer #popoverTip .helpButton a#tipButton:hover {
  background: rgba(50, 50, 50, 1);
  transition: 0.5s;
}

/* Body of the Tip */
/* body .order-changer .bottom-row #popoverTip .top-hint, */
body .footer #popoverTip .top-hint {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* position: relative; */
  height: auto;
  width: 200px;
  z-index: 2;
}

/* body .order-changer .bottom-row #popoverTip .top-hint h5, */
body .footer #popoverTip .top-hint h5 {
  display: inline-block;
  font-family: Roboto, 'sans-serif';
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}

/* body .order-changer .bottom-row #popoverTip .top-hint h5 a, */
body .footer #popoverTip .top-hint h5 a {
  border-bottom: 2px solid transparent;
  color: black;
  text-decoration: none;
}

/* body .order-changer .bottom-row #popoverTip .top-hint h5 a:hover, */
body .footer #popoverTip .top-hint h5 a:hover {
  color: #e1a13b;
  transition: 0.5s;
}

/* body .order-changer .bottom-row #popoverTip .top-hint p, */
body .footer #popoverTip .top-hint p {
  margin-bottom: 0;
  color: black;
  font-style: italic;
  font-size: 11px;
  padding: 5px 0 0 5px;
  opacity: 0.9;
}

/* body .order-changer .bottom-row, */
body .footer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 2;
}

/* body .order-changer .bottom-row .middle-row , */
body .footer .middle-row {}

/* body .order-changer .bottom-row a , */
body .footer a {}

/* body .order-changer .bottom-row a:hover, */
body .footer a:hover {
  text-decoration: none;
}

/* body .order-changer .bottom-row .middle-row a span, */
body .footer .middle-row a span {
  background: #53565a;
  bottom: 10%;
  color: white;
  float: right;
  font-weight: bold;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  transition: 0.5s;
  width: auto;
  z-index: 10;
}

/* body .order-changer .bottom-row .middle-row a span:hover, */
body .footer .middle-row a span:hover {
  background: #3a3a3a;
  transition: 0.2s;
}

/* body .order-changer .bottom-row .bottom-row.left, */
body .footer .bottom-row.left {
  clear: both;
}

/* bo.order-changer .bottom-rowter #back_to_top, ,
/* body .footer #back_to_top, */
/* body .order-changer .bottom-row #back_to_top :nth-child(n), */
body .footer #back_to_top :nth-child(n) {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

/* body .order-changer .bottom-row #back_to_top a i, */
body .footer #back_to_top a i {
  padding: 5px 6px;
  color: #53565a;
  font-size: 16px;
  font-weight: bold;
  transition: 1s;
}

/* body .order-changer .bottom-row #back_to_top a i:hover, */
body .footer #back_to_top a i:hover {
  color: black;
  transition: 0.5s;
}

/* body .order-changer .bottom-row #bottom_text, */
body .footer #bottom_text {
  font-family: Roboto, 'sans-serif';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 25px 0;
  text-transform: uppercase;
  text-align: center !important;
}

/* body .order-changer .bottom-row .backtotop.unscrolled, */
body .footer .backtotop.unscrolled {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

/* body .order-changer .bottom-row .backtotop.scrolled, */
body .footer .backtotop.scrolled {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}

/* body .order-changer .bottom-row .backtotop, */
body .footer .backtotop {
  position: fixed;
  bottom: 15vh;
  right: 0;
  z-index: 2;
}

/* body .order-changer .bottom-row .backtotop a , */
body .footer .backtotop a {
  text-decoration: none;
}

/* body .order-changer .bottom-row .backtotop a i, */
body .footer .backtotop a i {
  padding: 5px 10px;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.4);
  color: black;
  font-size: 30px;
  opacity: 0.5;
  transition: 0.2s;
}

/* body .order-changer .bottom-row .backtotop a i:hover, */
body .footer .backtotop a i:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
}

body #wb-Extra {
  color: #2c938f;
}


/* Section Footer */
body section#footer {
  background: #2c938f;
  color: white;
  font-size: 12px;
  padding: 25px 0;
  z-index: 1;
  bottom: 0;
  position: relative;
}
body section#footer h4 {
  font-weight: 500;
}
body section#footer > div {
  margin: 0 auto;
  min-width: 80%;
  width: 80%;
}
body section#footer > div > div {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 24%;
}
body section#footer ul {
  list-style-type: none;
  padding: 0;
}
body section#footer li {}

body section#footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

body .footer-social {
  background: transparent;
  display: block;
  margin: -30px auto -4px;
  position: relative;
  text-align: center;
  z-index: 2;
}
body .footer-social h4 {
  display: none;
}
body .footer-social a {
  width: auto;
}
body .footer-social img {
  margin: 0 15px;
  width: 30px;
  /* filter: grayscale(100%); */
}
body .footer-address p {
  text-align: center;
}

/* Resizing */
@media only screen and (max-width: 2550px) {
  body .tab-blurb::after,
  body #header-wrapper,
  body .container {
    min-width: 90%;
    width: 90%;
    transition: 0.5s;
  }
  body section#footer > div,
  body .container .main {
    min-width: 75%;
    width: 75%;
  }
}

@media only screen and (max-width: 2150px) {
  body .tab-blurb::after,
  body #header-wrapper {
    min-width: 100%;
    width: 100%;
    transition: 0.5s;
  }
}
/* body .container {
  min-width: 100%;
  width: 100%;
  transition: 0.5s;
} */

@media only screen and (max-width: 1215px) {
  body section#footer > div,
  body .container .main {
    min-width: 90%;
    width: 90%;
  }
}
/* Turn Off after launch */
body #header-wrapper #header_title > :nth-child(n):not(.headerLogo) {
  display: none;
}

body #header-wrapper .header #header_title .headerLogo {
  display: block;
  float: none;
  margin: 0 auto;
}

body #header-wrapper .headerLogo {
  float: none;
  text-align: center;
}
body #header-wrapper {
  left: 0;
  text-align: center;
}

/* Header Sections */
.header-section {
  height: 60vh;
  width: 100vw;
}
.header-section > :nth-child(n) {
  position: relative;
  z-index: 1;
}


/* Content */
#content {
  position: relative;
  z-index: 1;
}
#content .col {
  display: inline-block;
  width: 15%;
  min-width: 175px;
  vertical-align: top;
}
#content .row > h5 {
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  color: #2c938f;
  margin-bottom: 0;
  text-transform: uppercase;
}
#content .col > h5 {}
#content ul {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  margin-top: -1.2em;
}

/* Testimonials */
.testimonials {
  text-align: center;
  padding-top: 5vh;
}

/* Bottom */
.bottom {
  display: block;
  text-align: center;
  padding-top: 125px;
}


/* About Page */
.header-section#aboutHeader {
  background: #389fbe;
  text-align: center;
}
.about-page h1 {
  color: white;
  opacity: 0.7;
}
.about-page h2 {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #2ab6d5;
  transition: 0.2s;
  background: -webkit-linear-gradient(-135deg, #212121, #474747);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-animation: chatAnimations 10s ease infinite;
  -moz-animation: chatAnimations 10s ease infinite;
  animation: chatAnimations 10s ease infinite; */
  transition: 1s;
}
.about-page h3 {
  color: rgba(0, 0, 0, 0.6);
}
.about-page h4 {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.7);
}
.about-page p {
  color: rgba(0, 0, 0, 0.7);
}
.image-header {
  height: 100%;
}
.header-section#aboutHeader .image-header::after {
  /* background-image: url('../img/about-background.jpg'); */
  background: #7385b7;
  display: inline-block;
  height: auto;
  content: "";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.7;
  bottom: 0;
  left: 0%;
  right: 0%;
  top: 0;
  z-index: 0;
  margin: 0 auto;
}

@-webkit-keyframes chatAnimations {
  0% {
    background-position: 100% 50%
  }

  50% {
    background-position: 0% 50%
  }

  100% {
    background-position: 100% 50%
  }
}

@-moz-keyframes chatAnimations {
  0% {
    background-position: 100% 50%
  }

  50% {
    background-position: 0% 50%
  }

  100% {
    background-position: 100% 50%
  }
}

@keyframes chatAnimations {
  0% {
    background-position: 100% 50%
  }

  50% {
    background-position: 0% 50%
  }

  100% {
    background-position: 100% 50%
  }
}
.about-us .instagram {

}

/* Product Page */
.header-section#productHeader {
  height: auto;
  padding-top: 100px;
}


/* Partner Page */
body.partners-page {}

.partners-page #content {
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
}

.partners-page #content::after {
  background-image: url('../guest/img/partners-bckgrnd.jpg');
  display: inline-block;
  height: auto;
  content: "";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  opacity: 0.35;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  margin: 0 auto;
}

.plans {
  height: auto;
  text-align: center;
  vertical-align: top;
  width: auto;
  border: 25px solid #1d3473;
  padding: 25px 0 100px;
}
.plans * {
  vertical-align: top;
}
.plans .col {
  height: 375px;
  display: inline-block;
  width: 10vw;
  min-width: 225px;
  position: relative;
}
.plans .executive {
  color: white;
  position: relative;
  text-align: center;
  /* width: 100%; */
  background: linear-gradient(-45deg, #6fc5aa, #4d79de, #45c2d6);
  background-color: linear-gradient(-45deg, #6fc5aa, #4d79de, #45c2d6);
  /* background: linear-gradient(-45deg, #00e49b, #1191ec, #03daf1);
  background-color: linear-gradient(-45deg, #00e49b, #1191ec, #03daf1); */
  background-size: 250% 250%;
  box-shadow: 5px 5px 15px #88b7fd;
  /* -webkit-animation: LennarBlueGradient 45s ease infinite;
  -moz-animation: LennarBlueGradient 45s ease infinite;
  animation: LennarBlueGradient 45s ease infinite; */
  transition: 1s;
  z-index: 2;
}
.plans .basic {
  border-right: 1px solid #f1f1f1;
}
.plans > h2 {
  padding: 50px;
  display: block;
}
.plans .col h4 {
  font-size: 12px;
  border-radius: 100px;
  background: blue;
  color: white;
  display: inline-block;
  padding: 5px 15px;
}
.plans .premium h4 {
  /* gold */
  /* background: #b58a5e; */
  background: #6046b1;
}
.plans .executive h4 {
  background: #fff;
  color: #48799c;
}
.plans .basic h4 {
  /* light green */
  /* background: #5eb59d; */
  background: #85cbe6;
}
.plans .enterprise h4 {
  background: #1d3473;
}
.plans p {
  margin: 0px;
  font-size: 11px;
}
.plans .title-section {
  vertical-align: top;
  height: 115px;
  display: block;
}
.plans .plan-info {
  display: block;
}
.plans ul, .plans li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 0;
}
.plans li {
  font-size: 12px;
  padding: 5px;
}
.plans .getstarted {
  vertical-align: bottom !important;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}
.plans .getstarted a.button {
  border-radius: 100px;
  background: linear-gradient(-45deg, #6fc5aa, #4d79de, #45c2d6);
  background-color: linear-gradient(-45deg, #6fc5aa, #4d79de, #45c2d6);
  /* background: linear-gradient(-45deg, #00e49b, #1191ec, #03daf1);
  background-color: linear-gradient(-45deg, #00e49b, #1191ec, #03daf1); */
  background-size: 250% 250%;
  padding: 10px 25px;
  font-weight: normal !important;
  font-size: 12px;
  color: white;
}
.plans div:not(.executive) .getstarted a.button {
  box-shadow: 0 10px 10px rgba(132, 206, 234, 0.5);
}
.plans .executive .getstarted a.button {
  background: transparent;
  background-color: transparent;
  border: 1px solid white;
}
filler {
  height: 10vh;
  display: block;
  background: grey;
}
